/* Job List */
@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara:700&display=swap');

#add-user {
    padding-top:10px;
    font-size:20px;
    color:royalblue;
    flex:1;

}
.applied {
    font-size:20px;
}
#add-job-button {
    color:royalblue;
    text-decoration:none; 
  }
  .view-details {
    color:darkslategray;
    text-decoration:none; 
      font-size:30px;
  }
span {
    width:25%;
}
.list-date {
    width:fit-content;
    margin-right:100px;
}
#trash-icon-holder {

    width:25%;
    color:red;
    background:white;
    border:none;
    flex-basis:auto;
    font-size:16px;
    
}

.delete-icon-text {
    margin-top:5px;
}
#add-text {
    margin-top:0;
    font-size:14px;
}
ul {
    list-style-type:none;
    text-align:center;
    margin:0;
  
}
#month, #day {
    font-family: 'Hind Vadodara', 'sans-serif';
    text-transform:uppercase;
    font-size:20px;
    margin:0px;
}
.applied {
    color:rgb(22, 109, 22);
    font-weight:600;
}
.not-applied {
    color:rgb(71, 67, 67);
    font-weight:600;
}
#role {
    color:rgb(31, 30, 30);
    margin:5px 0;
    font-weight:600;
    text-align:left;
}


#company {
    color:royalblue;
    font-size:20px;
    font-weight:700;
    text-transform:capitalize;
    margin: 5px 0;
    text-align:left;
}
li {
    display:flex;
    justify-content:space-evenly;
    align-items:center;
   
    padding:10px 0px;
    border-bottom:1px solid royalblue;
 
}

h1 {
    color:royalblue;
}
#jobs-list-container {
    width:80%;
    margin:0 auto;
}
/* Phone size screens*/
@media screen and (max-width:600px) {
    #jobs-list-container {
        width:100%;
        
    }
    li {
        width:100%;
    }

    .contact {
        width:100%;
    }
    span{
        margin:0 2px;
        width:25%;
    }
    ul {
        margin:0 auto;
        padding:0;
    }

    form {
        max-width:100%;
    }
    .step {
        margin:20px 0;
    }
    .job-and-status {
    
        flex-direction:column;
    }
    #job-details, #job-status {
        flex:100%;
    }
    .applied, .list-date, #trash-icon-holder {
        display:none;
    }
    

}