/* Job List */
ul {
    list-style-type:none;
  
}
span {
    margin:0 20px;
}
li {
    border:1px solid black;
    margin:10px 0px;
}
a {
    text-decoration:none;
    color: black;
    float:right;
}
.view-details {
    float:right;
    margin-right:10px;
}
#jobs-list-container {
    width:600px;
    margin:0 auto;
}
/* Phone size screens*/
@media screen and (max-width:600px) {
    #jobs-list-container {
        width:100%;
        
    }
    li {
        width:100%;
    }

    .contact {
        width:100%;
    }
    span{
        margin:0 2px;
    }
    ul {
        margin:0 auto;
        padding:0;
    }
    form {
        width:100%;
    }
    .step {
        margin:20px 0;
    }
    .job-and-status {
    
        flex-direction:column;
    }
    #job-details, #job-status {
        flex:100%;
    }

}