/* Forms */
form {
  max-width: 500px;
  margin: 5% auto;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 5px 10px 18px lightgray;
}
.form-label {
  text-transform: uppercase;
  color: darkgray;
}
.form-submit-button {
  width: 200px;
}
h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 3rem;
}
.form-input {
  width: 100%;
  margin: 10px 0px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 16px;
  font-size: 16px;
}
input[type="submit"] {
  background: transparent;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  letter-spacing: 2px;
  font-weight: bold;
  margin: 0;
}
.form-question {
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
}
.error {
  color: red;
}
