/* Detail View */

.job-and-status {
  display: flex;
  flex-direction: row;
  color:darkslategray;
}
#job-details {
  flex: 60%;
  padding-top:7%;
  padding-left:10%;
  
}
#add-contact-button {
  color:royalblue;
  text-decoration:none; 
}
#contacts-title {
  color: royalblue;
  margin-top: 5rem;
  font-size: 2.5rem;
  text-align: center;
}
#detail-edit-button{
  color:#34ce34;
  text-decoration:none;
  font-size:20px;
  font-weight:600;
  width:fit-content;
  float:right;
  padding-right:10px;
}
#company-detail {
  font-size:3rem;
  color:royalblue;
}
#role-detail, #location {
  font-size:2rem;
  color:darkslategray;
}
#status-title {
  font-size:2rem;
  color:royalblue;
}
#job-status {
  flex: 40%;
 
  padding-top:7%;
  padding-left:10%;
}
#contacts {
  
  height: 300px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.edit-delete-contact{
  width:fit-content;
  float:right;
}
.contact-content{
  padding-top: 20px;
  width: fit-content;
  margin: 0 auto;

}
.contact-name {
  color:darkslategray;
  font-size:25px;
}
.contact {
  font-size:20px;
  width: 400px;
  margin-top:20px;
  border-radius:5px;
  box-shadow: 5px 10px 18px lightgray;
  height: 350px;
 
  flex: 0 0 33.333333%;
}
.contact-role {
  text-transform: capitalize;
  color:darkslategray;
}
#custom {
  width: 200px;
}
h2,
h3,
h4 {
  margin: 5px;
}
/* Phone size screens*/
@media screen and (max-width: 600px) {
  #jobs-list-container {
    width: 100%;
  }
  li {
    width: 100%;
  }

 .contact {
   flex:1;
 }

  ul {
    margin: 0 auto;
    padding: 0;
  }
  form {
    width: 100%;
  }
  .step {
    margin: 20px 0;
  }
  .job-and-status {
    flex-direction: column;
    margin-top:2rem;
  }
  #contacts {
    flex-direction:column;
    width:100%;
  }
  #job-details,
  #job-status {
    flex: 100%;
    padding:0;
  }
}
