/* Detail View */

.job-and-status {
  display: flex;
  flex-direction: row;
}
#job-details {
  flex: 60%;
  border:1px solid royalblue;
  
}
#job-status {
  flex: 40%;
  border: 1px solid royalblue;
 
}
#contacts {
  border: 1px solid black;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.contact {
  border: 1px solid black;
  width: 400px;
  height: 300px;
}
#custom {
  width: 200px;
}
h2,
h3,
h4 {
  margin: 5px;
}
/* Phone size screens*/
@media screen and (max-width: 600px) {
  #jobs-list-container {
    width: 100%;
  }
  li {
    width: 100%;
  }

  .contact {
    width: 100%;
  }

  ul {
    margin: 0 auto;
    padding: 0;
  }
  form {
    width: 100%;
  }
  .step {
    margin: 20px 0;
  }
  .job-and-status {
    flex-direction: column;
  }
  #contacts {
    flex-direction:column;
  }
  #job-details,
  #job-status {
    flex: 100%;
  }
}
