nav {
    width:100%;
 

    background:royalblue;
    
    
}


.nav-links {
    list-style-type:none;
    display:flex;
    width:50%;
    justify-content:space-evenly;
    margin-left:auto;
    margin-top:0px;

}
.nav-link{
    border:none;
    text-transform:capitalize;
  
 
    color:white;
    font-size:16px;

}
.nav-link > a {
    color: white;
    text-decoration:none;
}
.nav-link:hover {
    color:white;
}

@media screen and (max-width:600px) { 
    .nav-links {
        width:100%;
    }
 }
